@model webCentenario.Models.ViewModels.turnosViewModel
@{
    ViewBag.Title = "Mis reservas";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- Auditoria reserva de canchas -->
<div class="card">
    <div class="card-header"><h3>Mis reservas</h3></div>
    <div class="card-body">
        <table id="tblTurnosUser" class="table table-hover table-bordered table-responsive-md"></table>
    </div>
</div>

<div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Raw(TempData["Info"])
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro que quieres cancelar esta reserva?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-danger" onclick="Eliminar()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Ups!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hemos tenido un problema para cancelar la reserva. <b>¡Es posible que esta acción no este permitida!</b>
                <br /><br />
                <small class="text-muted cat">— Si crees que es un error, comunicate con el desarrollador.</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<input type="text" id="turnoID" hidden />


@section scripts {
    <script>
    $(document).ready(function () {
        $("#tblTurnosUser").DataTable({

            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ordering": false,
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,
            "dom": "<'row'<'col-sm-6 col-xs-12'B><'col-sm-6 col-xs-12'f>><'row'<'col-12'rt>><'row'<'col-sm-6'i><'col-sm-6'p>>",

            select: {
                style: 'os',
                items: 'cell'
            },

            "buttons": [
                {
                    "extend": 'pageLength',
                    "className": 'btn btn-secondary',
                }
            ],

            "lengthMenu": [
                [10, 25, 50, 100],
                ['10 filas', '25 filas', '50 filas', '100 filas']
            ],

            "ajax": {
                "url": "/Turnos/audTurnoUser",
                "type": "POST",
                "datatype": "json"
            },

            "language": {
                "lengthMenu": "Mostrar _MENU_ filas",
                "zeroRecords": "Ningún resultado encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Sin datos",
                "search": "",
                "searchPlaceholder": "Buscar por actividad...",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": ">",
                    "previous": "<"
                }
            },

            "columns": [
                { "data": "id", "title": "Reserva", "name": "id", "width": "5%" },
                { "data": "Usuario", "title": "Responsable", "name": "Usuario", "width": "20%" },
                { "data": "ActividadNombre", "title": "Actividad", "name": "ActividadNombre", "width": "10%" },
                { "data": "CanchaNum", "title": "Cancha", "name": "CanchaNum", "width": "10%" },

                {
                    "data": "Fecha", "title": "Fecha", "name": "Fecha", "render": function (data) {
                        return moment(data).format('DD/MM/YYYY');
                    }, "width": "10%"
                },

                { "data": "HoraText", "title": "Hora", "name": "HoraText", "width": "10%" },
                { "data": "Jugadores", "title": "Jugadores", "name": "Jugadores", "width": "5%" },
                { "data": "Precio", "title": "Precio", "name": "Precio", "width": "10%" },
                { "data": "FdPagoText", "title": "Forma de pago", "name": "FdPago", "width": "10%" },
                {
                        data: null, render: function (data, type, row) {
                        return '<div class="btn-group btn-group-sm" role="group" aria-label="Acciones"><a class="btn bt-sm btn-danger" onclick="Confirmar(' + row.id + ')">Cancelar</a>';
                    }, "width": "10%", "title": "Acciones", "className": "text-center"
                }
            ]
        });



    });

        function Confirmar(id) {

            $("#turnoID").val(id);
            $("#deleteModal").modal('show');
        }

        function Eliminar() {

            var turnoID = $("#turnoID").val();

            $.ajax({

                type: "POST",
                url: "@Url.Action("Eliminar", "Turnos")",
                data: { id: turnoID },
                success: function (data) {
                    if (data.result == true) {
                        $("#deleteModal").modal("hide");
                        $('#infoModal .modal-body').html(data.message);
                        $("#infoModal").modal('show');

                        tabla = $('#tblTurnosUser').DataTable();
                        tabla.draw();

                    }
                    else {
                        $("#deleteModal").modal("hide");
                        $("#errorModal").modal('show');
                    }
                },
                error: function () {
                    $("#deleteModal").modal("hide");
                    $("#errorModal").modal('show');
                }
            })
        }

       // | <button class='btn btn-primary' value='Cancelar' name='cancelar'><i class='fas fa-solid fa-pen'></i></button>
    </script>
}
