@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-3">
    <div class="p-5 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-5">
            <h1 class="fw-bold">@ViewBag.Title</h1>
            <p class="mb-3 fs-4">@ViewBag.ErrorDescription</p><br />
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home")">Volver a inicio</a>

            <button class="btn btn-outline-secondary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Ver detalle
            </button>
            <div class="collapse mt-3" id="collapseExample">
                <div class="card card-body">
                    <code>@ViewBag.ErrorMessage</code>
                </div>
            </div>
        </div>
    </div>
</div>
